
/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */

.slider_banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}

/* --------------------------------------- */
/* ----- Slider Info */
/* --------------------------------------- */

.slider_info {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
}

/* Seccion Informacion */

.slider_info .informacion {
	width: 100%;
}

.slider_info .informacion article {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider_info .informacion article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	padding: 20px 80px;
	position: absolute;
}
/* Slider Flechas */

.slider_info .flecha-info {
	font-size: 35px;
	line-height: 35px;
	color: #e6e6e6;
	position: absolute;
	top:50%;
	z-index: 1000;
}

.slider_info .flecha-info:hover {
	color:#6ed279;
}

.slider_info .flecha-info.anterior {
	left: 20px;
}

.slider_info .flecha-info.siguiente {
	right: 20px;
}




.slider_info .informacion .botones .active {
	background: #6ed279;
}

