<div class="container p-5">
    <section id="perfil-normal">
            
            <div class="row">
                <div class="col-md-4">
                    <label for="imagen">Imagen de Perfil</label>
                    <img src="/images/user-icon.png" alt="" height="200px" name="imagen" class="rounded-circle">
                </div>
                <div class="col-md-8">                    
                        <div class="row">
                            <div class="col-md-6">
                                <label for="nombre">Nombre</label>
                                <p name="nombre">nom</p>
                            </div>
                            <div class="col-md-6">
                                <label for="apellido">Apellido</label>
                                <p name="nombre">ape</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="cedula">Documento de Identidad</label>
                                <p name="cedula">ced</p>
                            </div>
                            <div class="col-md-6">
                                <label for="genero">Género</label>
                                <p name="genero">ape</p>
                            </div>                            
                        </div>
                        <div class="row">
                            <label for="correo">Dirección de correo Electrónico</label>
                            <p name="correo">correo</p>
                        </div>
                </div>
                
            </div>
            
            <div class="col-md-12">
                    <ul>
                        <li>
                            <label for="institucion">Institución: </label>
                            <p name="institucion">Matematicas :3</p>
                        </li>
                        <li>
                            <label for="asignatura">Área de Especialización: </label>
                            <p name="asignatura">Matematicas :3</p>                        
                        </li>
                        <li>
                            <label for="ciclo">Ciclo Propedéutico: </label>
                            <p name="ciclo">Matematicas :3</p>
                        </li>                    
                    </ul>            
                </div>
 
            <a href="/perfil/editar" class="secundary">
                <input href="/perfil" type="button" value="Editar Información" class="secundary"/>
            </a>
        
    </section>
        
</div>