<div class="container p-4">
    <section id="encuestaHerramientas" class="wrapper">
        <header>
            <h2>Formulario competencias TIC</h2>
            <h3>Seleccione según crea conveniente para cada recurso presentado con el que ha trabajado.
                    Puede seleccionar uno o varios recursos según sea el caso.</h3>
        </header>

        <!-- Form -->
        <form action="/links/encuestaHerramientas" method="POST">
            <hr>
            <!-- Estructura 2 columnas  -->
            <div class="row">

                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 1: Herramientas de trabajo colaborativo:</h3>
                </div>
                <div class="col-9 col-12-medium">
                    <p>						
                        A. Para documentos colaborativos:						
                    </p>						
                    <input type="checkbox" id="p-1-a-1" name="p-1-a-1" value="Google Drive">
                    <label for="p-1-a-1">Google Drive</label><br>
                    <input type="checkbox" id="p-1-a-2" name="p-1-a-2" value="One Drive">
                    <label for="p-1-a-2">One Drive</label><br>
                    <input type="checkbox" id="p-1-a-3" name="p-1-a-3" value="Dropbox">
                    <label for="p-1-a-3">Dropbox</label><br>
                    
                    <input type="checkbox" id="p-1-a-otros" name="p-1-a-otros" value="Otros">
                    <label for="p-1-a-otros">Otros</label><br>
                    <label for="p-1-a-cuales">¿Cuáles?</label>
                    <input type="text" id="p-1-a-cuales" name="p-1-a-cuales"/>


                    <p>						
                        B. Para la generación de conocimiento:					
                    </p>						
                    <input type="checkbox" id="p-1-b-1" name="p-1-b-1" value="WikiSpaces">
                    <label for="p-1-b-1">WikiSpaces</label><br>
                    <input type="checkbox" id="p-1-b-2" name="p-1-b-2" value="PbWorks">
                    <label for="p-1-b-2">PbWorks</label><br>
                    <input type="checkbox" id="p-1-b-3" name="p-1-b-3" value="WetOaint">
                    <label for="p-1-b-3">WetOaint</label><br>
                    <input type="checkbox" id="p-1-b-4" name="p-1-b-4" value="Wikdictionary">
                    <label for="p-1-b-4">Wikdictionary</label><br>
                    <input type="checkbox" id="p-1-b-5" name="p-1-b-5" value="Wikipedia">
                    <label for="p-1-b-5">Wikipedia</label><br>
                    
                    <input type="checkbox" id="p-1-b-otros" name="p-1-b-otros" value="Otros">
                    <label for="p-1-b-otros">Otros</label><br>
                    <label for="p-1-b-cuales">¿Cuáles?</label>
                    <input type="text" id="p-1-b-cuales" name="p-1-b-cuales"/>

                    <p>						
                        C. Para la creación de sitios web o blogs educativos:
                    </p>						
                    <input type="checkbox" id="p-1-c-1" name="p-1-c-1" value="Blogger">
                    <label for="p-1-c-1">Blogger</label><br>
                    <input type="checkbox" id="p-1-c-2" name="p-1-c-2" value="WordPress">
                    <label for="p-1-c-2">WordPress</label><br>
                    <input type="checkbox" id="p-1-c-3" name="p-1-c-3" value="Wix">
                    <label for="p-1-c-3">Wix</label><br>
                    <input type="checkbox" id="p-1-c-4" name="p-1-c-4" value="TypePad">
                    <label for="p-1-c-4">TypePad</label><br>
                    <input type="checkbox" id="p-1-c-5" name="p-1-c-5" value="Technorati">
                    <label for="p-1-c-5">Technorati</label><br>

                    <input type="checkbox" id="p-1-c-otros" name="p-1-c-otros" value="Otros">
                    <label for="p-1-c-otros">Otros</label><br>					
                    <label for="p-1-c-cuales">¿Cuáles?</label>
                    <input type="text" id="p-1-c-cuales" name="p-1-c-cuales"/>
                    <br>			
                </div>
                <!-- Fin Pregunta -->	
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 2: Herramientas para la creación de Objetos Virtuales de Aprendizaje (OVA).</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-2-1" name="p-2-1" value="ExeLearning">
                    <label for="p-2-1">ExeLearning</label><br>
                    <input type="checkbox" id="p-2-2" name="p-2-2" value="Reload Scorm">
                    <label for="p-2-2">Reload Scorm Editor - Reload Scorm Player</label><br>
                    <input type="checkbox" id="p-2-3" name="p-2-3" value="CourseLab">
                    <label for="p-2-3">CourseLab</label><br>
                    <input type="checkbox" id="p-2-4" name="p-2-4" value="Constructor">
                    <label for="p-2-4">Constructor</label><br>
                    <input type="checkbox" id="p-2-5" name="p-2-5" value="Ardora">
                    <label for="p-2-5">Ardora</label><br>
                    <input type="checkbox" id="p-2-6" name="p-2-6" value="Udutu">
                    <label for="p-2-6">Udutu</label><br>
                    <input type="checkbox" id="p-2-7" name="p-2-7" value="H5P">
                    <label for="p-2-7">H5P</label><br>					
                    
                    <input type="checkbox" id="p-2-otros" name="p-2-otros" value="Otros">
                    <label for="p-2-otros">Otros</label><br>
                    <label for="p-2-cuales">¿Cuáles?</label>
                    <input type="text" id="p-2-cuales" name="p-2-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 3: Herramientas para el manejo de video.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-3-1" name="p-3-1" value="Screencast-O-Matic">
                    <label for="p-3-1">Screencast-O-Matic</label><br>
                    <input type="checkbox" id="p-3-2" name="p-3-2" value="Movie Maker">
                    <label for="p-3-2">Movie Maker</label><br>
                    <input type="checkbox" id="p-3-3" name="p-3-3" value="YouTube">
                    <label for="p-3-3">YouTube</label><br>
                    <input type="checkbox" id="p-3-4" name="p-3-4" value="TeacherTube">
                    <label for="p-3-4">TeacherTube</label><br>
                    <input type="checkbox" id="p-3-5" name="p-3-5" value="Vimeo">
                    <label for="p-3-5">Vimeo</label><br>
                    <input type="checkbox" id="p-3-6" name="p-3-6" value="DelealPlay">
                    <label for="p-3-6">DelealPlay</label><br>
                    <input type="checkbox" id="p-3-7" name="p-3-7" value="Blip">
                    <label for="p-3-7">Blip.tv</label><br>
                    <input type="checkbox" id="p-3-8" name="p-3-8" value="Ustream">
                    <label for="p-3-8">Ustream</label><br>				
                    
                    <input type="checkbox" id="p-3-otros" name="p-3-otros" value="Otros">
                    <label for="p-3-otros">Otros</label><br>
                    <label for="p-3-cuales">¿Cuáles?</label>
                    <input type="text" id="p-3-cuales" name="p-3-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 4: Herramientas para el manejo de audio.</h3>
                </div>
                <div class="col-9 col-12-medium">											
                    <input type="checkbox" id="p-4-1" name="p-4-1" value="Audacity">
                    <label for="p-4-1">Audacity</label><br>
                    <input type="checkbox" id="p-4-2" name="p-4-2" value="Odeo">
                    <label for="p-4-2">Odeo</label><br>										
                    
                    <input type="checkbox" id="p-4-otros" name="p-4-otros" value="Otros">
                    <label for="p-4-otros">Otros</label><br>
                    <label for="p-4-cuales">¿Cuáles?</label>
                    <input type="text" id="p-4-cuales" name="p-4-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 5: Herramientas para el manejo de textos e imágenes.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-5-1" name="p-5-1" value="canva.com">
                    <label for="p-5-1">http://canva.com</label><br>
                    <input type="checkbox" id="p-5-2" name="p-5-2" value="cooltext.com">
                    <label for="p-5-2">http://es.cooltext.com</label><br>
                    <input type="checkbox" id="p-5-3" name="p-5-3" value="pixlr.com">
                    <label for="p-5-3">https://pixlr.com/editor/?loc=es</label><br>
                    <input type="checkbox" id="p-5-4" name="p-5-4" value="Filckr">
                    <label for="p-5-4">Filckr</label><br>
                    <input type="checkbox" id="p-5-5" name="p-5-5" value="Photobucket">
                    <label for="p-5-5">Photobucket</label><br>
                    <input type="checkbox" id="p-5-6" name="p-5-6" value="FlickrCC">
                    <label for="p-5-6">FlickrCC</label><br>
                    <input type="checkbox" id="p-5-7" name="p-5-7" value="Picnik"> 
                    <label for="p-5-7">Picnik</label><br>					
                    
                    <input type="checkbox" id="p-5-otros" name="p-5-otros" value="Otros">
                    <label for="p-5-otros">Otros</label><br>
                    <label for="p-5-cuales">¿Cuáles?</label>
                    <input type="text" id="p-5-cuales" name="p-5-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 6: Herramientas para presentaciones en la nube.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-6-1" name="p-6-1" value="Prezi">
                    <label for="p-6-1">Prezi</label><br>
                    <input type="checkbox" id="p-6-2" name="p-6-2" value="Slideshare">
                    <label for="p-6-2">Slideshare</label><br>
                    <input type="checkbox" id="p-6-3" name="p-6-3" value="Scribd">
                    <label for="p-6-3">Scribd</label><br>
                    <input type="checkbox" id="p-6-4" name="p-6-4" value="Powtoon">
                    <label for="p-6-4">Powtoon</label><br>
                    <input type="checkbox" id="p-6-5" name="p-6-5" value="Genially">
                    <label for="p-6-5">Genially</label><br>
                    <input type="checkbox" id="p-6-6" name="p-6-6" value="H5P">
                    <label for="p-6-6">H5P</label><br>									
                    
                    <input type="checkbox" id="p-6-otros" name="p-6-otros" value="Otros">
                    <label for="p-6-otros">Otros</label><br>
                    <label for="p-6-cuales">¿Cuáles?</label>
                    <input type="text" id="p-6-cuales" name="p-6-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 7: Herramientas para videoconferencias y reuniones online.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-7-1" name="p-7-1" value="Skype">
                    <label for="p-7-1">Skype</label><br>
                    <input type="checkbox" id="p-7-2" name="p-7-2" value="Zoom">
                    <label for="p-7-2">Zoom</label><br>
                    <input type="checkbox" id="p-7-3" name="p-7-3" value="Skype Empresarial (Lync)">
                    <label for="p-7-3">Skype Empresarial (Lync)</label><br>
                    <input type="checkbox" id="p-7-4" name="p-7-4" value="Haungounts">
                    <label for="p-7-4">Haungounts - Hangouts en vivo </label><br>
                    <input type="checkbox" id="p-7-5" name="p-7-5" value="Webconference">
                    <label for="p-7-5">Webconference</label><br>
                    <input type="checkbox" id="p-7-6" name="p-7-6" value="Appear.in">
                    <label for="p-7-6">Appear.in</label><br>
                    <input type="checkbox" id="p-7-7" name="p-7-7" value="Join.me">
                    <label for="p-7-7">Join.me</label><br>					
                    <input type="checkbox" id="p-7-8" name="p-7-8" value="Dimdim">
                    <label for="p-7-8">Dimdim</label><br>

                    <input type="checkbox" id="p-7-otros" name="p-7-otros" value="Otros">
                    <label for="p-7-otros">Otros</label><br>
                    <label for="p-7-cuales">¿Cuáles?</label>
                    <input type="text" id="p-7-cuales" name="p-7-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 8: Herramientas para comunidades.</h3>
                </div>
                <div class="col-9 col-12-medium">
                    <p>						
                        A. Redes sociales:						
                    </p>						
                    <input type="checkbox" id="p-8-a-1" name="p-8-a-1" value="Facebook">
                    <label for="p-8-a-1">Facebook</label><br>
                    <input type="checkbox" id="p-8-a-2" name="p-8-a-2" value="Linkedin">
                    <label for="p-8-a-2">Linkedin</label><br>
                    <input type="checkbox" id="p-8-a-3" name="p-8-a-3" value="Instagram">
                    <label for="p-8-a-3">Instagram</label><br>
                    <input type="checkbox" id="p-8-a-4" name="p-8-a-4" value="Xing">
                    <label for="p-8-a-4">Xing</label><br>
                    <input type="checkbox" id="p-8-a-5" name="p-8-a-5" value="Twitter">
                    <label for="p-8-a-5">Twitter</label><br>
                    <input type="checkbox" id="p-8-a-6" name="p-8-a-6" value="Google Groups">
                    <label for="p-8-a-6">Google Groups</label><br>
                    <input type="checkbox" id="p-8-a-7" name="p-8-a-7" value="Yahoo Groups">
                    <label for="p-8-a-7">Yahoo Groups</label><br>

                    <input type="checkbox" id="p-8-a-otros" name="p-8-a-otros" value="Otros">
                    <label for="p-8-a-otros">Otros</label><br>
                    <label for="p-8-a-cuales">¿Cuáles?</label>
                    <input type="text" id="p-8-a-cuales" name="p-8-a-cuales"/>


                    <p>						
                        B. Mundos Virtuales:					
                    </p>						
                    <input type="checkbox" id="p-8-b-1" name="p-8-b-1" value="Second Life">
                    <label for="p-8-b-1">Second Life</label><br>					
                    
                    <input type="checkbox" id="p-8-b-otros" name="p-8-b-otros" value="Otros">
                    <label for="p-8-b-otros">Otros</label><br>					
                    <label for="p-8-b-cuales">¿Cuáles?</label>
                    <input type="text" id="p-8-b-cuales" name="p-8-b-cuales"/>

                    <p>						
                        C. BooksMarks y Agregadores RSS:
                    </p>						
                    <input type="checkbox" id="p-8-c-1" name="p-8-c-1" value="Delicious">
                    <label for="p-8-c-1">Delicious</label><br>
                    <input type="checkbox" id="p-8-c-2" name="p-8-c-3" value="Digg">
                    <label for="p-8-c-2">Digg</label><br>
                    <input type="checkbox" id="p-8-c-3" name="p-8-c-3" value="Meneame">
                    <label for="p-8-c-3">Meneame</label><br>
                    <input type="checkbox" id="p-8-c-4" name="p-8-c-4" value="Diigo">
                    <label for="p-8-c-4">Diigo</label><br>
                    <input type="checkbox" id="p-8-c-5" name="p-8-c-5" value="Bloglines">
                    <label for="p-8-c-5">Bloglines</label><br>									
                    
                    <input type="checkbox" id="p-8-c-otros" name="p-8-c-otros" value="Otros">
                    <label for="p-8-c-otros">Otros</label><br>					
                    <label for="p-8-c-cuales">¿Cuáles?</label>
                    <input type="text" id="p-8-c-cuales" name="p-8-c-cuales"/>
                    <br>			
                </div>
                <!-- Fin Pregunta -->	
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 9: Herramientas para tratamiento bibliográfico.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-9-1" name="p-9-1" value="Zootero">
                    <label for="p-9-1">Zootero</label><br>
                    <input type="checkbox" id="p-9-2" name="p-9-2" value="Mendeley">
                    <label for="p-9-2">Mendeley</label><br>
                

                    <input type="checkbox" id="p-9-otros" name="p-9-otros" value="Otros">
                    <label for="p-9-otros">Otros</label><br>
                    <label for="p-9-cuales">¿Cuáles?</label>
                    <input type="text" id="p-9-cuales" name="p-9-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 10: Herramientas para la creación de mapas mentales.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-10-1" name="p-10-1" value="Cmaptools">
                    <label for="p-10-1">Cmaptools</label><br>
                    <input type="checkbox" id="p-10-2" name="p-10-2" value="FreeMind">
                    <label for="p-10-2">FreeMind</label><br>
                    <input type="checkbox" id="p-10-3" name="p-10-3" value="Bubb.us">
                    <label for="p-10-3">Bubb.us</label><br>
                    <input type="checkbox" id="p-10-4" name="p-10-4" value="Mindomo.com">
                    <label for="p-10-4">Mindomo.com</label><br>					

                    <input type="checkbox" id="p-10-otros" name="p-10-otros" value="Otros">
                    <label for="p-10-otros">Otros</label><br>
                    <label for="p-10-cuales">¿Cuáles?</label>
                    <input type="text" id="p-10-cuales" name="p-10-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 11: Herramientas para la creación de líneas de tiempo.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-11-1" name="p-11-1" value="https://www.tiki-toki.com/">
                    <label for="p-11-1">https://www.tiki-toki.com/</label><br>
                    <input type="checkbox" id="p-11-2" name="p-11-2" value="https://time.graphics/">
                    <label for="p-11-2">https://time.graphics/</label><br>				

                    <input type="checkbox" id="p-11-otros" name="p-11-otros" value="Otros">
                    <label for="p-11-otros">Otros</label><br>
                    <label for="p-11-cuales">¿Cuáles?</label>
                    <input type="text" id="p-11-cuales" name="p-11-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 12: Herramientas para la creación de actividades digitales lúdicas.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-12-1" name="p-12-1" value="Hot Potatoes">
                    <label for="p-12-1">Hot Potatoes</label><br>
                    <input type="checkbox" id="p-12-2" name="p-12-2" value="Ardora">
                    <label for="p-12-2">Ardora</label><br>
                    <input type="checkbox" id="p-12-3" name="p-12-3" value="Educaplay">
                    <label for="p-12-3">Educaplay</label><br>
                    <input type="checkbox" id="p-12-4" name="p-12-4" value="H5P">
                    <label for="p-12-4">H5P</label><br>
                    <input type="checkbox" id="p-12-5" name="p-12-5" value="Genially">
                    <label for="p-12-5">Genially</label><br>				

                    <input type="checkbox" id="p-12-otros" name="p-12-otros" value="Otros">
                    <label for="p-12-otros">Otros</label><br>
                    <label for="p-12-cuales">¿Cuáles?</label>
                    <input type="text" id="p-12-cuales" name="p-12-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 13: Sistemas administradores de aprendizaje (LMS)</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-13-1" name="p-13-1" value="Moodle">
                    <label for="p-13-1">Moodle</label><br>
                    <input type="checkbox" id="p-13-2" name="p-13-2" value="Claroline">
                    <label for="p-13-2">Claroline</label><br>
                    <input type="checkbox" id="p-13-3" name="p-13-3" value="Chamilo">
                    <label for="p-13-3">Chamilo</label><br>
                    <input type="checkbox" id="p-13-4" name="p-13-4" value="ATutor">
                    <label for="p-13-4">ATutor</label><br>
                    <input type="checkbox" id="p-13-5" name="p-13-5" value="Edmodo">
                    <label for="p-13-5">Edmodo</label><br>
                    <input type="checkbox" id="p-13-6" name="p-13-6" value="Google Scholar">
                    <label for="p-13-6">Google Scholar</label><br>			

                    <input type="checkbox" id="p-13-otros" name="p-13-otros" value="Otros">
                    <label for="p-13-otros">Otros</label><br>
                    <label for="p-13-cuales">¿Cuáles?</label>
                    <input type="text" id="p-13-cuales" name="p-13-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 14: Herramientas para comunicación y gestión.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-14-1" name="p-14-1" value="Correo electrónico">
                    <label for="p-14-1">Correo electrónico</label><br>
                    <input type="checkbox" id="p-14-2" name="p-14-2" value="Paquetes de oficina">
                    <label for="p-14-2">Paquetes de oficina: procesador de texto, hoja de cálculo, gestor de presentaciones. (MS Office, LibreOffice, OpenOffice)</label><br>							

                    <input type="checkbox" id="p-14-otros" name="p-14-otros" value="Otros">
                    <label for="p-14-otros">Otros</label><br>
                    <label for="p-14-cuales">¿Cuáles?</label>
                    <input type="text" id="p-14-cuales" name="p-14-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="row">
                <!-- Estructura pregunta -->	
                <div class="col-3 col-12-medium">				
                    <h3>Pregunta 15: Herramientas estadísticas.</h3>
                </div>
                <div class="col-9 col-12-medium">
                                            
                    <input type="checkbox" id="p-15-1" name="p-15-1" value="PSPP">
                    <label for="p-15-1">PSPP</label><br>
                    <input type="checkbox" id="p-15-2" name="p-15-2" value="R">
                    <label for="p-15-2">R</label><br>
                    <input type="checkbox" id="p-15-3" name="p-15-3" value="Calc">
                    <label for="p-15-3">Calc</label><br>
                    <input type="checkbox" id="p-15-4" name="p-15-4" value="SPSS">
                    <label for="p-15-4">SPSS</label><br>					

                    <input type="checkbox" id="p-15-otros" name="p-15-otros" value="Otros">
                    <label for="p-15-otros">Otros</label><br>
                    <label for="p-15-cuales">¿Cuáles?</label>
                    <input type="text" id="p-15-cuales" name="p-15-cuales"/><br>
                </div>
                <!-- Fin Pregunta -->
            </div>
            <hr>
            <div class="col-12">
                <a href="/links/encuestaCompetencias">
                    <button class="primary">Enviar Respuestas</button>
                </a>                
                <input type="reset" value="Reiniciar"/>
            </div>
            
        </form>
        <!-- Fin Formulario -->		
    </section>
</div>



    


