<div class="container p-4">
    <hr>
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2>Compentecias TIC</h2>
            <p align="justify">                
                En marzo de 2008 el Ministerio de Educación Nacional (MEN) presentó a la comunidad educativa el documento Apropiación de TIC , en el desarrollo profesional docente (Ruta de Apropiación de TIC en el Desarrollo Profesional Docente) para orientar los procesos de formación
                en el uso de TIC que se estaban ofreciendo a los docentes del país. La ruta se definió “con el
                fin de preparar a los docentes de forma estructurada, para enfrentarse al uso pedagógico de
                las TIC, participar en redes, comunidades virtuales y proyectos colaborativos, y sistematizar
                experiencias significativas con el uso de las TIC.”(Ministerio de Educación Nacional, 2008). 
            </p>
            <a href="">Leer más...</a>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="images/home-card-img01.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Realizar Encuesta</h3>
                    <p class="card-text">Para Medir las competencias TIC del docente se plantea la siguiente encuesta</p>
                    <a href="/links/encuestaHerramientas">
                        <button class="primary">Realizar Encuesta</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Realizar Búsqueda</h2>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Carretazo para Buscar</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                            <label for="exampleFormControlSelect1">Establecer Criterios</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                            <label for="exampleFormControlSelect1">Establecer Criterios</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                                <div class="form-group">
                            <label for="exampleFormControlSelect1">Establecer Criterios</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="button" class="primary">Buscar Resultados</button>
                
                
            </form>
        </div>
    </div>
</div>