<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
                            <a href="/links/test">asdasd</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>