<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Competencias TIC</title>

    <!-- Importar elementos del proyecto-->   
    <link rel="stylesheet" href="/css/c3.min.css">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">    
	<link rel="stylesheet" href="/assets/css/main.css">    
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="/css/sliderStyle.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
	

    <script type="text/javascript" src="/script/jquery.linq.min.js"></script>
    <script type="text/javascript" src="/script/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/script/d3.min.js"></script>
	<script type="text/javascript" src="/script/c3.min.js"></script>	
	<script type="text/javascript" src="/script/scripts.js"></script>	

</head>
<body>

    <!-- Header -->
	<header id="header">
		<a class="logo" href="https://www.udistrital.edu.co/">
            <div class="row">
                <img src="/images/main-ud-logo-superior.png" height="50px">
                 Universidad Distrital Francisco José de Caldas
            </div>            
        </a>
        <nav class="nav">
            <a href="/links">Inicio</a>
            <a href="/links/profile">Perfil</a>
            <a href="/links/about">Acerca de</a>
            <a href="#">Cerrar Sesión</a>    
        </nav>
	</header>
	

	<!-- Heading -->
	<div id="heading">
		<h1>COMPETENCIAS TIC</h1>        
	</div>
    
    
    {{{ body }}}

    <!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Plan de gobierno</h3>
					<p>La educación del siglo pasado no se ajusta a las necesidades del siglo XXI. Desarrollaremos una educación que estimule los talentos y la riqueza individual de cada uno de los niños y jóvenes colombianos, liberando su creatividad y permitiéndoles descubrir su vocación, en lugar de homogeneizar y estandarizar, valores imperantes en la educación del siglo pasado. Los educaremos para la incesante flexibilidad mental y formativa que demanda el nuevo siglo.</p>
				</section>
				<section>
					<h4>Más informacion</h4>
					<ul class="alt">
						<li><a href="#">Ministerio de educacion.</a></li>
						<li><a href="#">Coorporacion Colombia digital.</a></li>
						<li><a href="#">Universidad Distrital.</a></li>
						<li><a href="#">Grupo de investigacion Virtus.</a></li>
					</ul>
				</section>
				<section>
					<h4>Redes sociales</h4>
					<ul class="plain">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Virtus.
			</div>
		</div>
	</footer>
</body>
</html>